.cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
}

.findUserForm {
  display: flex;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #a2836e;
  border-radius: 10px;

  &__genderSelect {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

  &__natSelect {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__submitButton {
    height: 30px;
  }
}
